<div id="location"></div>


<div #gmap id="map"></div>

<!-- Button to call form modal -->
<div class="d-flex justify-content-end align-items-end my-temp-class">
    <div>
        <a mdbBtn floating="true" size="lg" gradient="purple" mdbWavesEffect (click)="frame.show()">
            <mdb-icon far icon="file-alt" size="2x"></mdb-icon>
        </a>
    </div>
</div>

<!-- Form modal -->
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">

        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <!--<mdb-icon fas icon="clipboard-list" size="2x"></mdb-icon> -->
                    Taxi Lo-Lay Complaint Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body mb-0 text-center">

                <div class="d-flex flex-column">

                    <!--Location-->
                    <div>
                        <button id="addLocation" (click)="addLocationToMap()" mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>Add Location</button>
                    </div>

                    <!--Plate number-->
                    <div>
                        <div class="md-form" style="text-align: left;">
                            <mdb-icon fas icon="taxi"></mdb-icon>
                            <input mdbInput type="text" id="reason" class="form-control" [(ngModel)]="reason">
                            <label for="reason">Reason</label>
                        </div>
                    </div>

                    <!--Taxi information +-->
                    <div>
                        <div class="md-form" style="text-align: left;">
                            <mdb-icon fas icon="taxi"></mdb-icon>
                            <input mdbInput type="text" id="licensePlateNumber" class="form-control" [(ngModel)]="licensePlateNumber">
                            <label for="licensePlateNumber">License Plate Number</label>
                        </div>
                    </div>

                    <!--Reason-->
                    <div>
                        <div class="md-form" style="text-align: left;">
                            <mdb-icon fas icon="taxi"></mdb-icon>
                            <input mdbInput type="text" id="taxiDetail" class="form-control" [(ngModel)]="taxiDetail">
                            <label for="taxiDetail">Taxi detail</label>
                        </div>
                    </div>

                    <!--Button to submit-->
                    <div>
                        <button mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect (click)="addLocationToMap()">Send data</button>
                    </div>

                </div>

            </div>



        </div>
        <!--/.Content-->

    </div>
</div>



